{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="overlay-2">
  <div class="container d-flex flex-column pt-2 about-text">
    <p>Prepare to be <span>amazed</span></p>
    <p class="about-para">At Movie Buzz, we are passionate about bringing the world of cinema to your fingertips. 
      Our online movie store is designed to offer you a seamless and enjoyable experience 
      when exploring, purchasing, and reviewing your favorite films. Whether you are looking for the 
      latest blockbuster, a timeless classic, or an indie gem, we have a lot in store for you.</p>
      <p class="about-para">Movie Buzz is more than just a place to buy movies - it is a community of movie lovers who 
        share their passion and experiences. Start your journey with us today and discover a world of 
        entertainment at your convenience.</p>
  </div>
  </div>
</header>
{% endblock content %}