<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Description</title>
</head>
<body>
    <p><b>Description:</b> {{ template_data.movie.description }}</p>
    <p><b>Price:</b> ${{ template_data.movie.price }}</p>

    <p class="card-text">
        <form method="post" action="{% url 'cart.add' id=template_data.movie.id %}">
            <div class="row">
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group col-auto">
                        <div class="input-group-text">Quantity</div>
                        <input type="number" min="1" max="10" class="form-control quantity-input" name="quantity" value="1">
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn bg-dark text-white" type="submit">Add to cart</button>
                </div>
            </div>
        </form>
    </p>
</body>
</html>
